@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, a {
  text-decoration: none;
  outline: none; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

/*----COLORS-----*/
html {
  font-size: 16px; }

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto; }

.info__title {
  font-size: 2rem;
  color: #6e6e6e;
  padding-bottom: 40px; }

.info__text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #171717; }

.btn {
  display: inline-block;
  border: none;
  color: white;
  text-decoration: none;
  padding: 6px 22px;
  letter-spacing: 1;
  border-radius: 5;
  text-align: center;
  cursor: pointer;
  opacity: 0.95;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }

.btn--white {
  border: 2px solid #fff;
  color: #fff; }

.btn--white:hover {
  background-color: #fff;
  color: #3a3a3a;
  border-color: #fff; }

.btn--black {
  margin-left: 55px;
  font-size: 1.2rem;
  color: #ffffff;
  border: solid 2px #171717;
  background-color: #171717;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.btn--black:hover {
  color: #ffffff;
  border: solid 1px black;
  -webkit-box-shadow: 3px 3px 7px black;
  box-shadow: 3px 3px 7px black; }

/*---------------
    #Fonts
---------------*/
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: local("☺"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.eot");
  src: local("☺"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Regular';
  src: local("☺"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Black';
  src: local("☺"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: local("☺"), url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("☺"), url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'RobotoBold';
  src: local("☺"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/** Generated by FG **/
@font-face {
  font-family: 'algeriand';
  src: url("../fonts/Algerian.eot");
  src: local("☺"), url("../fonts/Algerian.woff") format("woff"), url("../fonts/Algerian.ttf") format("truetype"), url("../fonts/Algerian.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.logo__name {
  display: inline-block;
  font-family: 'algeriand';
  text-transform: uppercase; }

.logo__name--home {
  font-size: 3rem;
  line-height: 1.2em;
  letter-spacing: 0.2rem; }

.logo__name--about {
  font-size: 1.1rem;
  line-height: 1.2em;
  letter-spacing: 0.2rem; }

.logo__name:after {
  content: "";
  display: block;
  height: 3px;
  margin: 2 auto;
  background-color: #fff; }

.logo__fullname {
  display: inline-block;
  padding-left: 10px;
  font-family: 'algeriand';
  font-weight: 550; }

.logo__fullname--home {
  font-size: 3rem;
  line-height: 1.2em;
  letter-spacing: 1.2rem; }

.logo__fullname--about {
  font-size: 1.1rem;
  line-height: 1.2em;
  letter-spacing: 0.6rem; }

.insetshadow {
  color: #fff;
  text-shadow: -2px -2px 2px #111,  3px 3px 2px #363636; }

a {
  -webkit-transition: color 800ms ease-in-out;
  -o-transition: color 800ms ease-in-out;
  transition: color 800ms ease-in-out; }

.nav .menu-toggle {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  z-index: 999; }

.nav .menu-toggle-text {
  font-size: 1rem;
  display: block; }

.no-js .nav .menu-toggle {
  display: none; }

/* .menu is visually hidden by default */
.menu {
  position: relative;
  z-index: 1;
  border: 0;
  margin: -1px auto;
  overflow: hidden;
  padding: 0;
  max-height: 1px;
  min-height: 0;
  clip: rect(0 0 0 0);
  /* end .menu li */ }

.menu li a {
  display: block;
  padding: 10px 0;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 2px; }

.menu li ul.sub-menu, .menu li ul.children {
  display: none; }

/* end .menu */
.no-js .menu, .expanded-mobile-menu {
  -o-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 400ms ease-in;
  -webkit-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 400ms ease-in;
  transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 400ms ease-in;
  /*min/max heights allow me to css transition to height auto for WordPress menus with unknown number of items*/
  clip: auto;
  min-height: 8em;
  max-height: 100em; }

#header-home {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 0; }

#header-home.default {
  background-color: #171717;
  position: fixed;
  top: 0;
  z-index: 999; }

.header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.carousel {
  background: #fff; }

.container {
  width: 100%;
  position: relative; }

.main {
  width: 95%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative; }

.lt-ie8 .elastislide-list {
  display: none; }

/* Elastislide Style */
.elastislide-list {
  list-style-type: none;
  display: none; }

.no-js .elastislide-list {
  display: block; }

.elastislide-carousel ul li {
  min-width: 20px;
  /* minimum width of the image (min width + border) */ }

.elastislide-wrapper {
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  min-height: 60px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }

.elastislide-wrapper.elastislide-loading {
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center center; }

.elastislide-carousel {
  overflow: hidden;
  position: relative; }

.elastislide-carousel ul {
  position: relative;
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px); }

.elastislide-horizontal ul {
  white-space: nowrap; }

.elastislide-carousel ul li {
  margin: 0; }

.elastislide-horizontal ul li {
  height: 100%;
  display: inline-block; }

.elastislide-vertical ul li {
  display: block; }

.elastislide-carousel ul li a {
  display: inline-block;
  width: 100%; }

.elastislide-carousel ul li a img {
  display: block;
  border: 2px solid white;
  max-width: 100%; }

/* Navigation Arrows */
.elastislide-wrapper nav span {
  position: absolute;
  background: #ddd url(../images/nav.png) no-repeat 4px 3px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.8; }

.elastislide-wrapper nav span:hover {
  opacity: 1.0; }

.elastislide-horizontal nav span {
  top: 50%;
  left: 10px;
  margin-top: -11px; }

.elastislide-vertical nav span {
  top: 10px;
  left: 50%;
  margin-left: -11px;
  background-position: -17px 5px; }

.elastislide-horizontal nav span.elastislide-next {
  right: 10px;
  left: auto;
  background-position: 4px -17px; }

.elastislide-vertical nav span.elastislide-next {
  bottom: 10px;
  top: auto;
  background-position: -17px -18px; }

/* Custom Elastislide Styling */
.demo-1 .elastislide-horizontal {
  z-index: 10;
  padding: 10px 37px;
  border-radius: 10px/90px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), inset -10px 0 10px 1px rgba(155, 155, 155, 0.1), inset 10px 0 10px 1px rgba(155, 155, 155, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), inset -10px 0 10px 1px rgba(155, 155, 155, 0.1), inset 10px 0 10px 1px rgba(155, 155, 155, 0.1); }

.demo-1 .elastislide-wrapper:before,
.demo-1 .elastislide-wrapper:after {
  z-index: 10;
  content: '';
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 20px;
  width: 50%;
  height: 20%;
  border-radius: 10px/90px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg); }

.demo-1 .elastislide-wrapper:after {
  right: 20px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg); }

.about {
  background: #fff;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px; }

.about-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.about-box__cnt {
  margin-right: 150px;
  margin-left: 100px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.about-box__photo {
  margin-left: 100px; }

.photo {
  max-width: 300px;
  min-height: 500px; }

.photo__photo {
  display: block;
  width: 100%;
  height: auto; }

.contact {
  background: #fff;
  padding: 100px 300px; }

.contact__info {
  margin-bottom: 80px; }

.contact-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.top-row:after {
  content: "";
  display: table;
  clear: both; }

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%; }

.top-row > div:last-child {
  margin: 0; }

.field-wrap {
  position: relative;
  margin-bottom: 70px; }

.field-wrap__name {
  position: absolute;
  top: -25;
  z-index: 9999;
  color: #1a1714;
  pointer-events: none;
  font-size: 1rem; }

.field-wrap__req {
  margin: 0.2rem;
  color: #1a1714; }

.field-wrap__field {
  font-size: 1.5rem;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background-color: #e9e9e9;
  border: 1px solid #171717;
  color: #ddd;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  -o-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease; }

.field-wrap__field:focus {
  outline: 0;
  background-color: #ddd; }

textarea {
  border: 2px solid #171717;
  resize: vertical; }

.instslider {
  background-color: #171717; }

.instslider-block__instagram-link {
  text-align: center;
  padding-top: 50px; }

.instagram-link__text {
  color: white;
  font-size: 1.2rem;
  line-height: 1.4; }

.instagram-link__link {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.5;
  border-bottom: dotted 1px #ffffff; }

.instagram-link__link:hover {
  color: #9b9494; }

.gallery-image {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.gallery-image img {
  height: 150px;
  width: 250px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease; }

.img-box {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 20px;
  max-height: 250px;
  max-width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white; }

.img-box__image {
  display: block;
  width: 100%;
  height: auto; }

.caption {
  margin-top: 130px;
  margin-left: 15px;
  opacity: 0.0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease; }

.transparent-box {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }

.img-box:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5); }

.img-box:hover .caption {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 1.0; }

.img-box:hover {
  cursor: pointer; }

.caption > p:nth-child(2) {
  font-size: 0.8em; }

.opacity-low {
  opacity: 0.5; }

.instslider-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 30px; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 30px; }

.social__link {
  font-size: 1.1rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  color: white; }

.social__link:hover {
  color: #555555; }

.social__link:last-child {
  margin-right: 0; }

.title {
  z-index: 99;
  position: absolute; }

.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0; }

.cb-slideshow:after {
  content: '';
  background: transparent url(../images/home/pattern.png) repeat top left; }

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s; }

.cb-slideshow li:nth-child(1) span {
  background-image: url(../images/home/6.jpg); }

.cb-slideshow li:nth-child(2) span {
  background-image: url(../images/home/5.jpg);
  -webkit-animation-delay: 6s;
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) span {
  background-image: url(../images/home/4.jpg);
  -webkit-animation-delay: 12s;
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) span {
  background-image: url(../images/home/3.jpg);
  -webkit-animation-delay: 18s;
  animation-delay: 18s; }

.cb-slideshow li:nth-child(5) span {
  background-image: url(../images/home/2.jpg);
  -webkit-animation-delay: 24s;
  animation-delay: 24s; }

.cb-slideshow li:nth-child(6) span {
  background-image: url(../images/home/1.jpg);
  -webkit-animation-delay: 30s;
  animation-delay: 30s; }

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(3deg); }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1) rotate(3deg); }
  100% {
    opacity: 0; } }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg); }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg); }
  100% {
    opacity: 0; } }

.parallax {
  min-height: 600px;
  background: transparent;
  position: relative;
  overflow-x: hidden;
  /*для горизонтального*/ }

body {
  background: #191919; }

#portfolio {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 1000px;
  height: 500px;
  margin: -250px 0 0 -500px; }

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: url(../images/bg.png) no-repeat center; }

#portfolio .gallery-cnt,
#portfolio .gallery-cnt .inside {
  position: absolute;
  top: 0;
  left: 0; }

#portfolio .gallery-cnt {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#portfolio .gallery-cnt .inside {
  z-index: 1; }

#portfolio .arrows a {
  position: absolute;
  z-index: 3;
  width: 32px;
  height: 32px;
  background-image: url(../images/arrows.png);
  background-repeat: no-repeat;
  outline: none;
  text-indent: -9999px; }

#portfolio .arrows .prev,
#portfolio .arrows .up {
  display: none; }

#portfolio .arrows .up,
#portfolio .arrows .down {
  left: 50%;
  margin-left: -16px; }

#portfolio .arrows .prev,
#portfolio .arrows .next {
  top: 180px; }

#portfolio .arrows .up {
  background-position: 0 -64px;
  top: 20px; }

#portfolio .arrows .down {
  background-position: 0 -96px;
  bottom: 120px; }

#portfolio .arrows .prev {
  background-position: 0 -32px;
  left: 60px; }

#portfolio .arrows .next {
  background-position: 0 0;
  right: 60px; }

#portfolio .arrows .up:hover {
  background-position: -32px -64px; }

#portfolio .arrows .down:hover {
  background-position: -32px -96px; }

#portfolio .arrows .next:hover {
  background-position: -32px 0; }

#portfolio .arrows .prev:hover {
  background-position: -32px -32px; }

#portfolio .item {
  position: absolute;
  top: 0;
  width: 1000px;
  height: 400px; }

#portfolio .item div {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%; }

#portfolio .item div img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -300px; }

#portfolio .paths {
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -30px;
  z-index: 4; }

#portfolio .paths div {
  position: absolute;
  top: 0; }

#portfolio .paths a {
  background: #333;
  display: block;
  position: absolute;
  left: 0;
  outline: none; }

#portfolio .paths a:hover,
#portfolio .paths .active {
  background: #fff; }

/* anchors */
a {
  text-decoration: none;
  color: #fff; }

.home-cnt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999; }

.home-cnt__btn {
  margin: 10px auto;
  display: table; }

.home-social {
  z-index: 999;
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

@media (min-width: 737px) {
  .logo-nav {
    display: none; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .logo__name--home {
    font-size: 2rem;
    line-height: 1.7em;
    letter-spacing: 0.2rem; }
  .logo__fullname {
    font-weight: 350; }
  .logo__fullname--home {
    font-size: 1.7rem;
    line-height: 1.2em;
    letter-spacing: 0.7rem; }
  html {
    font-size: 18px; }
  .instagram-link__text {
    font-size: 1.5rem;
    text-align: center; }
  header {
    background-color: #171717; }
  .logo-header {
    display: none; }
  .header-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contact-form {
    margin-left: 20px;
    margin-right: 20px; }
  .instslider-nav {
    display: none; }
  .info__title {
    text-align: center; }
  .about {
    padding-left: 0;
    padding-right: 0; }
  .about-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .about-box__cnt {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
    margin-bottom: 25px; }
  .about-box__photo {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin: auto; }
  .carousel {
    display: none; }
  .menu li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 15px; }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 0;
    margin: 0; }
  .info__text {
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify; } }

@media only screen and (min-device-width: 568px) and (max-device-width: 767px) {
  .logo__name--home {
    font-size: 2rem;
    line-height: 1.7em;
    letter-spacing: 0.2rem; }
  .logo__name:after {
    content: "";
    display: block;
    height: 3px;
    margin: 2 auto;
    background-color: #fff; }
  .logo__fullname {
    font-weight: 350; }
  .logo__fullname--home {
    font-size: 1.7rem;
    line-height: 1.2em;
    letter-spacing: 0.7rem; }
  .logo-header {
    display: none; }
  header {
    background-color: #171717; }
  .header-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contact-form {
    margin-left: 20px;
    margin-right: 20px; }
  .instslider-nav {
    display: none; }
  .info__title {
    text-align: center; }
  .about {
    padding-left: 0;
    padding-right: 0; }
  .about-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .about-box__cnt {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
    margin-bottom: 25px; }
  .about-box__photo {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin: auto; }
  .carousel {
    display: none; }
  .menu li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 15px; }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 0;
    margin: 0; }
  .info__text {
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify; } }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .logo__name--home {
    font-size: 2rem;
    line-height: 1.7em;
    letter-spacing: 0.2rem; }
  .logo__name:after {
    content: "";
    display: block;
    height: 3px;
    margin: 2 auto;
    background-color: #fff; }
  .logo__fullname {
    font-weight: 350; }
  .logo__fullname--home {
    font-size: 1.7rem;
    line-height: 1.2em;
    letter-spacing: 0.7rem; }
  .instslider {
    max-width: 800px;
    margin: auto; }
  html {
    font-size: 22px; }
  header {
    background-color: #171717; }
  .header-wrap {
    padding-left: 20px;
    padding-right: 20px; }
  .contact-form {
    margin-left: 20px;
    margin-right: 20px; }
  .instslider-nav {
    display: none; }
  .info__title {
    text-align: center; }
  .about {
    padding: 0; }
  .about-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .about-box__cnt {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
    margin-bottom: 25px; }
  .about-box__photo {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin: auto; }
  .menu li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 15px; }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 0;
    margin: 0; }
  .info__text {
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify; }
  .info__title {
    margin-top: 50px; }
  .instslider {
    padding: 40px 50px; }
  .nav .menu-toggle {
    margin-bottom: 10px;
    color: #f7f7f7; }
  .nav .menu-toggle:hover {
    color: #333; }
  .menu__icon {
    display: inline-block; }
  .menu__links {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto; }
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff; } }

@media only screen and (min-width: 30.1em) {
  /*481 ish px*/
  .menu li {
    margin: auto;
    width: 50%; } }

@media only screen and (min-width: 48em) {
  .nav .menu-toggle {
    display: none; }
  .menu, .menu, .expanded-mobile-menu {
    /* no longer hidden by default! */
    margin: 0;
    min-height: 0;
    max-height: 999em;
    border-radius: 0;
    overflow: visible;
    padding: 0.7em 0; }
  .menu li, .no-js .menu li, .expanded-mobile-menu li {
    float: none;
    width: auto;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    /* DROP DOWNS */
    /* showing sub-menus */ }
  .lt-ie8 .menu li, .lt-ie8 .no-js .menu li, .lt-ie8 .expanded-mobile-menu li {
    /* inline-block fix for old ie (relevant if they're served larger media queries in an IE stylesheet or something similar...*/
    display: inline;
    zoom: 1; }
  .menu li a, .no-js .menu li a, .expanded-mobile-menu li a {
    padding: 0.3em 1em; }
  /* end .menu */ }
